In [ ]:
import pandas as pd 

df = pd.read_csv("Data101.csv")
df.head()

In [ ]:
df.columns

In [ ]:
removed_columns = [
    "OBJECTID", 
    "STATE", 
    "ST_CASE", 
    "PEDS", 
    "PERNOTMVIT",
    "PVH_INVL", 
    "VE_FORMS",
    "PERMVIT", 
    "COUNTY",
    "COUNTYNAME",
    "COUNTYNAME",
    "MONTH",
    "MONTHNAME",
    "DAY",
    "DAYNAME",
    "DAY_WEEK",
    "DAY_WEEKNAME",
    "YEAR",
    "HOUR",
    "HOURNAME",
    "MINUTE",
    "MINUTENAME",
    "TWAY_ID",
    "TWAY_ID2",
    "ROUTE",
    "ROUTENAME",
    "RUR_URB",
    "RUR_URBNAME",
    "RD_OWNER",
    "RD_OWNERNAME",
    "NHS",
    "NHSNAME",
    "SP_JUR", 
    "SP_JURNAME",
    "MILEPT",
    "MILEPTNAME",
    "LATITUDE",
    "LATITUDENAME",
    "LONGITUD",
    "LONGITUDNAME",
    "HARM_EV",
    "MAN_COLL"
    "RELJCT1",
    "RELJCT1NAME",
    "RELJCT2",
    "RELJCT2NAME",
    "TYP_INTNAME",
    "REL_ROAD",
    "WRK_ZONE",
    "WRK_ZONENAME",
    "SCH_BUS",
    "SCH_BUSNAME",
    "RAIL",
    "RAILNAME"



]

In [ ]:
df = df.drop(columns= removed_columns)
df.head()

In [ ]:
import pandas as pd

df = pd.read_csv("Data101.csv")
df.head()

,STATENAME,VE_TOTAL,PERSONS,FUNC_SYSNAME,HARM_EVNAME,MAN_COLLNAME,REL_ROADNAME,LGT_CONDNAME,WEATHERNAME,FATALS
0,Alabama,1,1,Major Collector,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
1,Alabama,1,1,Local,Tree (Standing Only),The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
2,Alabama,1,1,Major Collector,Embankment,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
3,Alabama,1,3,Local,Live Animal,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Rain,1
4,Alabama,1,4,Interstate,Tree (Standing Only),The First Harmful Event was Not a Collision wi...,On Roadside,Daylight,Rain,1

In [ ]:
df.isnull().sum()

STATENAME       0
VE_TOTAL        0
PERSONS         0
FUNC_SYSNAME    0
HARM_EVNAME     0
MAN_COLLNAME    0
REL_ROADNAME    0
LGT_CONDNAME    0
WEATHERNAME     0
FATALS          0
dtype: int64

In [ ]:
df = df.replace(["Unknown", "?" , "N/A"], pd.NA)

In [ ]:
df = df.dropna()
df.head()

,STATENAME,VE_TOTAL,PERSONS,FUNC_SYSNAME,HARM_EVNAME,MAN_COLLNAME,REL_ROADNAME,LGT_CONDNAME,WEATHERNAME,FATALS
0,Alabama,1,1,Major Collector,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
1,Alabama,1,1,Local,Tree (Standing Only),The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
2,Alabama,1,1,Major Collector,Embankment,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Clear,1
3,Alabama,1,3,Local,Live Animal,The First Harmful Event was Not a Collision wi...,On Roadside,Dark - Not Lighted,Rain,1
4,Alabama,1,4,Interstate,Tree (Standing Only),The First Harmful Event was Not a Collision wi...,On Roadside,Daylight,Rain,1